li {
  border: 2px solid black;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 3em;
  padding: 6em 4em 4em 6em;
  border-radius: 30em;
  display: inline-block;
  text-align: center;
}

header {
  background-color: black;
  color: white;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

* {
  margin: 0;
  padding: 0;
}

li:hover {
  border: 5px solid black;
  cursor: pointer;
}

.yellow {
  background: yellow;
}

.green {
  background: green;
}

.black {
  background: black;
}